* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
}

.app {
  max-width: 420px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

.header {
  background: #2c3fa3;
  padding: 20px;
  color: #fff;
}

.saldo-card {
  padding: 20px;
  text-align: center;
  background: #fff;
}

.saldo-card p {
  color: #777;
  margin-bottom: 5px;
}

.saldo-card h2 {
  margin: 0;
}

.card {
  background: #fff;
  margin: 15px;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

.card.destaque {
  background: #d28a34;
  color: #fff;
  cursor: pointer;
}

.card.destaque .cta {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.lista h3 {
  margin-left: 15px;
}

.card.pix strong {
  display: block;
  margin-bottom: 5px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay.hidden {
  display: none;
}

.modal {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 360px;
  border-radius: 12px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

.modal-actions {
  display: flex;
  gap: 10px;
}

.btn-primario {
  flex: 1;
  background: #2c3fa3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.btn-secundario {
  flex: 1;
  background: #ddd;
  border: none;
  padding: 10px;
  border-radius: 8px;
}



/* LOADING MODAL */
.loading-box {
  background: #fff;
  padding: 30px 25px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  max-width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  animation: fadeUp 0.4s ease;
}

.loading-box p {
  margin-top: 20px;
  font-size: 15px;
  color: #444;
  line-height: 1.4;
}

/* Spinner elegante */
.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #2c3fa3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
